<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>Login with Node - JWT - TypeORM</title>  

    

    <link href="css/bootstrap.min.css" rel="stylesheet">    
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center" style="display: inherit;">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 shadow-lg p-3 mb-5">
    
                <div class="card border-primary">
                    <div class="card-header bg-primary text-white">Registration</div>
                    <div class="card-body text-primary">
                        <form action="/register" method="post">
    
                            <div class="mb-3">
                                <label for="name" class="form-laber">Full Name</label>
                                <input type="text" name="name" id="name" class="form-control" aria-describedby="emailHelp">
                            </div>
    
                            <div class="mb-3">
                                <label for="user" class="form-laber">User</label>
                                <input type="text" name="user" id="user" class="form-control">
                            </div>
    
                            <div class="mb-3">
                                <label for="pass" class="form-laber">Password</label>
                                <input type="password" name="pass" id="pass" class="form-control">
                            </div>

                            <div class="card-footer bg-transparent border-primary">
                                <a href="/" type="button" class="btn btn-secondary">Cancel</a>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>

                        </form>
                    </div>
                </div> 
                
            </div>
        </div>
    </div>
    
  </body>
</html>